@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela-Medium-Trial.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #d6ef0e;
  --secondary-color-1: #1e1e1e;
  --secondary-color-2: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #090f1d;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6.5rem;
  position: relative;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  list-style-type: none;
  transition: border-bottom 0.3s ease;
  border-bottom: 1px solid transparent;
}

.header__nav-item:hover {
  border-bottom: 1px solid var(--primary-color);
}

.header__nav-item:not(:last-child) {
  margin-right: 2rem;
}

.header__nav-link {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0px;
  color: var(--secondary-color-2);
  text-decoration: none;
}

.header__cta-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: auto;
}

.header__cta-button:hover {
  background-color: #c5d800;
}

.header__cta-button span {
  color: var(--secondary-color-2);
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: 0em;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  z-index: 1002;
}

.burger-menu span {
  display: block;
  width: 2rem;
  height: 0.25rem;
  margin: 0.3rem 0;
  background: var(--secondary-color-2);
  border-radius: 2px;
  transition: 0.4s;
}

.burger-toggle:checked + .header__nav + .burger-menu span:nth-child(1) {
  transform: translateY(0.55rem) rotate(45deg);
}

.burger-toggle:checked + .header__nav + .burger-menu span:nth-child(2) {
  opacity: 0;
}

.burger-toggle:checked + .header__nav + .burger-menu span:nth-child(3) {
  transform: translateY(-0.55rem) rotate(-45deg);
}

@media (max-width: 900px) {
  .header__nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: #090f1d;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transform: translateY(-200%);
    opacity: 0;
    transform: translateY(-30px);
    pointer-events: none;
    transition: opacity 0.4s cubic-bezier(0.4, 2, 0.6, 1),
      transform 0.4s cubic-bezier(0.4, 2, 0.6, 1);
    z-index: 1001;
  }

  .burger-toggle:checked + .header__nav {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }

  .header__nav-item:not(:last-child) {
    margin: 0 0 1.5rem 0;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 0;
  }

  .header__nav-link {
    font-size: 1.2rem;
    width: 100%;
    display: block;
    padding: 0.5rem 0;
  }

  .burger-menu {
    display: flex;
    margin-left: 1rem;
  }

  .header__nav {
    display: block;
  }

  .header__nav-list {
    width: 100%;
  }
}

@media (min-width: 901px) {
  .burger-menu,
  .burger-toggle {
    display: none !important;
  }

  .header__nav {
    position: static;
    transform: none !important;
    opacity: 1 !important;
    pointer-events: auto !important;
    background: none;
    box-shadow: none;
    display: block;
  }

  .header__nav-list {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
}
/* /header */
